.appContainer {
  min-height: 100vh;
  width: 100%;
}

.filesSection {
  padding: 24px;
  min-height: 100vh;
  margin-right: 400px;
}

.chatSection {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  overflow: hidden;
}

.loadingContainer,
.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #6c757d;
  font-size: 16px;
}

.errorContainer {
  color: #dc3545;
}
